# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items 
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

In [ ]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple with in a tuple / 2D tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hellor')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o', 'r')

### Accessing Items

- Indexing
- Slicing

In [ ]:
t = (1,3,5,7,9)
print(t[0])  
print(t[-1])

1
9

In [ ]:
t = (1,3,5,7,9)
t[::-1]

(9, 7, 5, 3, 1)

In [ ]:
# item fetch from 2D tuple
t2D = (1, 2.5, True, (1,33))
print(t2D[3][1])
#item fetch from 3D tuple
t3D = ((((1,41),((9,44),(1,41)))))
print(t3D[1][1][1])

33
41

### Editing items

In [ ]:
t3 = (1, 2, 3, 4)
t3[0] = 100
# immutable just like strings

TypeError: ignored

### Adding items

In [ ]:
print(t3)
# not possible

(1, 2, 3, 4)

### Deleting items

In [ ]:
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: ignored

In [ ]:
t = (1,2,3,4,5)


# get 3,4,5 in reverse order
t[-1:-4:-1]    # tip: left side should be greater, -1 > -4

(5, 4, 3)

In [ ]:
t5 = (1, 2, 3, (4, 5))
del t5[-1]

TypeError: ignored

### Operations on Tuples

In [ ]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

### Tuple Functions

In [ ]:
# len/sum/min/max/sorted
t = (1,2,3,4)
print(len(t))

print(sum(t))

print(min(t))

print(max(t))

print(sorted(t,reverse=True))

4
10
1
4
[4, 3, 2, 1]

In [ ]:
# count

t = (1,2,5,3,4,5)

print(t.count(5))
print(t.count(50)) # 50 is not present in the tuple

2
0

In [ ]:
# index
t = (1,2,5,3,4,5)
print(t.index(2))   # 1 is the index of item 2
print(t.index(50))  # 50 is not present in the tuple

1

ValueError: ignored

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [ ]:
import time 

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 9.853569507598877
Tuple time 8.347511053085327

In [ ]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size: ',sys.getsizeof(L))
print('Tuple size: ',sys.getsizeof(T))

List size:  9120
Tuple size:  8056

In [ ]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Why use tuple?

### Special Syntax

In [5]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [4]:
a,b = (1,2,3)
print(a,b)

ValueError: ignored

In [3]:
# others will be stored as a list.
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [7]:
# zipping tuples
a = (1,2,3,4,5)
b = (6,7,8,9,10) 

# zip(a,b)

print(list(zip(a,b)))

print(tuple(zip(a,b)))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]
((1, 6), (2, 7), (3, 8), (4, 9), (5, 10))